*{
    font-family: 'Times New Roman', Times, serif;
}

.ceo:hover{
    background-color: black;
    color: white;
    transition-duration: 0.6s;
    border-left: 10px solid white;
    padding: 15px;
}

.co-founder:hover{
    background-color: black;
    color: white;
    transition-duration: 0.6s;
    border-left: 10px solid white;
    padding: 15px;
}

.sales-manager:hover{
    background-color: black;
    color: white;
    transition-duration: 0.6s;
    border-left: 10px solid white;
    padding: 15px;
}